* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* login tampilan */
.body-login {
    margin: 0;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    width: 320px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #6a5acd;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* admin tampilan */
.body-admin {
    margin: 0;
    background: #ececec;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-box {
    background: white;
    padding: 25px;
    border-radius: 8px;
}

table {
    border-collapse: collapse;
    width: 400px;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

th {
    background: #2c3e50;
    color: white;
}
