<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body-admin">
    <div class="admin-box">
        <h2>Monitoring Honeypot</h2>
        <table>
            <tr>
                <th>Kategori</th>
                <th>Hasil</th>
            </tr>
            <tr>
                <td>SQL Injection</td>
                <td>{{ sqli }}</td>
            </tr>
            <tr>
                <td>Persentase Serangan</td>
                <td>{{ persen }}%</td>
            </tr>
        </table>
    </div>
</body>

</html>
